:root{
  --importantParagraphs: #df6648;
  --normalParagraphs: rgb(201, 209, 217);
}

body{
    margin: 0;
    background-color: rgb(13, 17, 23);
}

label{
  color: rgb(201, 209, 217);
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

span{
  color: rgb(201, 209, 217);
  font-weight: bold;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-direction: column;
}

.flexbox-item{
    margin: 10px;
    width: 200px;
    height: 200px;
}

.flexbox-item-1{
    padding: 20px;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfield-container{
  display: flex;
  flex-direction: column;
}

.flexbox-item-2{
    text-align: center;
}
  
  input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:20px;
    background: linear-gradient(to right, #4caf50 0%, #4caf50 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
  }
  
  input[type="range"]:first-of-type{
    margin-top:30px;
  }
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#5ee1f2;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
  }
  
  input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:160px;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
  }

  input[type="button"]{
    text-align: center;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    border-color: #4caf50;
    font-size: 20px;
    padding: 10px;
    background-color: #89db8b;
  }

  input[type="button"]:hover{
    background-color: #4caf50;
  }

.flexbox-item-2 .result{
  font-size: xx-large;
}

input[type="text"]
{
  background-color: rgb(38,45,56);
  border: 2px solid rgb(70, 70, 70);
  color: var(--normalParagraphs);
  font-size: 20px;
  border-radius: 25px;
  border: none;
  padding: 10px
}

input[type="text"]:focus{
  outline-width: 0;
}

#exercise
{
  padding: 8px 12px;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

#exercise:focus,
#exercise:hover{
  outline: none;
  border: 1px solid #bbbbbb;
}

#exercise option{
  background: #ffffff;
  font-size: 20px;
}

#result{
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  color: var(--importantParagraphs);
}


/*Swal Customization*/

.swal-modal{
  background-color: rgb(35, 189, 21);
  border: 3px solid white;
}